[reticulum]
enable_transport = Yes
respond_to_probes = Yes
share_instance = Yes
shared_instance_port = 37428
instance_control_port = 37429

[logging]
loglevel = 6

[interfaces]
  [[Diptych LAN TCP]]
    type = TCPServerInterface
    enabled = Yes
    listen_ip = 0.0.0.0
    listen_port = 4242
